<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>竞赛详情</title>
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <link href="/static/icon/favicon.ico" rel="shortcut icon">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="/static/js/contest-status.js"></script>
</head>
<body>

<table class="ui celled table" style="margin: 50px 90px; width: 85%; ">
    <thead>
    <tr class="center aligned" id="first_row">
        <th class="center aligned two wide">学号</th>
    </tr>
    </thead>
    <tbody id="records" class="center aligned">
    </tbody>
</table>

</body>

<style>
    .status_1 {
        background-color: #E6FEE6;
    }

    .status_2 {
        background-color: #FAE4E3;
    }

    .status_3 {
        background-color: #FAE4E3;
    }
</style>
</html>