<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>题目 BUCT-SQLOJ</title>
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <link href="/static/icon/favicon.ico" rel="shortcut icon">
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/exercise.js"></script>
</head>
<body>
<div class="ui top fixed menu">
    <div class="item" style="font-size: 18px">
        BUCT SQL OJ
    </div>
    <a class="item" href="/">
        <img src="../static/icon/主页.svg" style="height: 15px;" alt="">
        首页
    </a>
    <a class="active item" href="/exercise/">
        <img src="../static/icon/题目.svg" style="height: 15px;" alt="">
        题目
    </a>
    <a class="item" href="/contest/">
        <img src="../static/icon/竞赛.svg" style="height: 15px;" alt="">
        竞赛
    </a>
    <a class="item" href="/ranking/">
        <img src="../static/icon/排行榜.svg" style="height: 15px;" alt="">
        排行榜
    </a>
    <div class="right menu" style="margin-right: 100px">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="搜索...">
            </div>
        </div>
        <div class="item" id="button_username">
            <div class="ui primary button" onclick="location.href='/login/'">登入</div>
        </div>
    </div>
</div>
<div id="blank"></div>

<table class="ui celled table" style="margin: 50px 90px; width: 85%; ">
    <thead>
    <tr class="center aligned">
        <th class="center aligned one wide">#</th>
        <th class="center aligned six wide">标题</th>
        <th class="center aligned one wide">难度</th>
        <th class="center aligned three wide">出题人</th>
        <th class="center aligned two wide">通过率</th>
        <th class="center aligned two wide">通过人数</th>
    </tr>
    </thead>
    <tbody id="exercises" class="center aligned">

    </tbody>
</table>
</body>

<style>
#button_username {
    padding: 0;
}

.publisher_3 {
    /*管理员*/
    color: red;
}

.publisher_2 {
    color: purple;
}
.publisher_1 {
    color: #0d6efd;
}
.grade_easy {
    color: #52B5A3;
}

.grade_medium {
    color: #F5C349;
}

.grade_hard {
    color: #EB4B63;
}

.status_0 {
}

.status_1 {
    background-color: #E6FEE6;
}

.status_2 {
    background-color: #FAE4E3;
}

#blank {
    width: 100%;
    height: 70px;
}

</style>

</html>