<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师端 BUCT-SQLOJ</title>
    <link rel="stylesheet" href="/static/semantic/semantic.min.css">
    <link href="/static/icon/favicon.ico" rel="shortcut icon">
    <script src="/static/semantic/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/teacher-exercises.js"></script>
</head>
<body>
<div class="ui top fixed menu">
    <a href="/">
        <div class="item" style="font-size: 18px">
            BUCT SQL OJ
        </div>
    </a>
    <a class="item" href="/teacher/upload-table/">
        上传数据表
    </a>
    <a class="active item" href="/teacher/exercises/">
        题库信息
    </a>
    <a class="item" href="/teacher/publish-exercise/">
        发布习题
    </a>
    <a class="item" href="/teacher/publish-contest/">
        发布竞赛
    </a>
    <a class="item" href="/teacher/contests/">
        竞赛信息
    </a>
    <a class="item" href="/teacher/submission/">
        提交记录
    </a>
    <a class="item" href="/teacher/tables/">
        数据表
    </a>
    <a class="item" href="/teacher/students/">
        学生信息
    </a>
    <a class="item" href="/teacher/class/">
        班级管理
    </a>
    <a class="item" href="/teacher/score/">
        学生成绩
    </a>
    <div class="right menu" style="margin-right: 100px">
        <div class="item" id="button_username">
            <div class="ui primary button" onclick="location.href='/teacher/login/'">登入</div>
        </div>
    </div>
</div>
<div id="blank"></div>

<table class="ui celled table" style="margin: 50px 90px; width: 85%; ">
    <thead>
    <tr class="center aligned">
        <th class="center aligned one wide">题目id</th>
        <th class="center aligned four wide">题目名</th>
        <th class="center aligned two wide">发布者</th>
        <th class="center aligned three wide">难度</th>
        <th class="center aligned one wide">提交次数</th>
        <th class="center aligned one wide">通过次数</th>
        <th class="center aligned one wide">答案</th>
    </tr>
    </thead>
    <tbody id="exercises" class="center aligned">
    </tbody>
</table>

</body>

<style>
    #blank {
        width: 100%;
        height: 70px;
    }

    #button_username {
        padding: 0;
    }

    .publisher_3 {
        /*管理员*/
        color: red;
    }

    .publisher_2 {
        color: purple;
    }

    .publisher_1 {
        color: #0d6efd;
    }

    .grade_easy {
        color: #52B5A3;
    }

    .grade_medium {
        color: #F5C349;
    }

    .grade_hard {
        color: #EB4B63;
    }

    p {
        font-size: 17px;
    }
</style>

</html>